---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/cert-manager
  - ../base/cert-manager/cert-manager/ks.yaml
  - ../base/default
  - ../base/external-secrets
  - ../base/external-secrets/external-secrets/ks.yaml
  - ../base/external-secrets/onepassword/ks.yaml
  - ../base/flux-system
  - ../base/flux-system/addons/ks.yaml
  - ../base/flux-system/flux-operator/ks.yaml
  - ../base/flux-system/headlamp/ks.yaml
  - ../base/flux-system/kustomize-mutating-webhook/ks.yaml
  - ../base/kube-system
  - ../base/kube-system/cilium/ks.yaml
  - ../base/kube-system/coredns/ks.yaml
  - ../base/kube-system/metrics-server/ks.yaml
  - ../base/kube-tools
  - ../base/kube-tools/node-feature-discovery/ks.yaml
  - ../base/kube-tools/reloader/ks.yaml
  - ../base/network
  - ../base/network/external/ks.yaml
  - ../base/network/internal/ks.yaml
  - ../base/storage
  - ../base/storage/local-path-provisioner/ks.yaml
  - ../base/storage/snapshot-controller/ks.yaml
  - ../base/storage/volsync/ks.yaml
